# large corpuses
corpus_conso-urbmod-spatialmicrosim_all_20190516.csv
corpus_conso-urbmod-spatialmicrosim_all_20190516_links.csv

corpus_conso-urbmod-spatialmicrosim_all_20190512.csv
corpus_conso-urbmod-spatialmicrosim_all_20190512_links.csv

urbmod_all_20190502.csv
urbmod_all_20190502_links.csv

